<web-app version="2.5" id="WebApp_ID"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/Aplicacion01HTML/Error.jsp</location>
  </error-page>

	<servlet>
		<description></description>
		<display-name>ControladorLibros</display-name>
		<servlet-name>ControladorLibros</servlet-name>
		<servlet-class>com.arquitecturajavasolida.ControladorLibros</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControladorLibros</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>